# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../:\AAFacultate\Anul 2 Semestrul 1\Computer Networks\Labs\PROBLEMS\APythonAndrei\UDP\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
